.post {
	margin-top: 30px;
	width: 75%;
	display: flex;
	flex-direction: row;
	&__author {
		margin-right: 10px;
		width: 60px;
		display: flex;
		// background-color: transparent;
	}
	&__content {
		width: 80%;
		background-color: $white;
	}
}

.header-icon {
	width: 45px;
	display: flex;
	justify-content: flex-end;
}

.fa-times,
.fa-heart,
.fa-heart-o {
	color: $red;
}

.fa-heart,
.fa-heart-o {
	margin-left: 5px;
}

.post__header {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.post.text-post {
	.post__main {
		padding: 0px 10px 10px 10px;
		h2 {
			text-align: center;
			margin-bottom: 5px;
		}
	}

}

.post.image-post {
	.post__main {
		&__image-container img {
			border-radius: 0px;
		}
		&__image-caption {
			padding: 10px 10px 10px 10px;
		}
	}
}

.post.poll-post {
	.post__main {
		padding: 0px 10px 10px 10px;
		h2 {
			text-align: center;
			margin-bottom: 5px;
		}
	}
	.poll-option {
		margin-bottom: 8px;
		p {
			margin-bottom: 3px;
		}
		&__bar {
			height: 16px;
			background-color: $pollColor1;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

.poll-option:nth-of-type(2) .poll-option__bar {
	background-color: $pollColor2;
}

.poll-option:nth-of-type(3) .poll-option__bar {
	background-color: $pollColor3;
}

.poll-option:nth-of-type(4) .poll-option__bar {
	background-color: $pollColor4;
}