$bgColor: #333;
$white: rgba(255, 255, 255, 1.0);
$ltColor: rgba(200, 200, 200, 0.75);
$dkGray: rgba(20, 20, 20, 0.75);
$red: #F44336;
$pollColor1: #009688;
$pollColor2: #4CAF50;
$pollColor3: #00BCD4;
$pollColor4: #2196F3;